$blanco: #FFF;
$negro: black;
$negroDegra1:  rgb(44, 40, 33);
$negroDegra2:  rgba(5, 5, 5,0.7);
$naranjaDegra1: rgb(255, 175, 109);
$naranja: orange;

$cero: 0;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$poppins:'Poppins', sans-serif;   
$ubuntu:'Ubuntu', sans-serif;